RDotNet.ProcessHost/Service References/RManagementService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RDotNet.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRManagementService_GetRUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRUser" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_GetRUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_Terminate_InputMessage">
    <wsdl:part name="parameters" element="tns:Terminate" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_Terminate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateResponse" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_IsStarted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsStarted" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_IsStarted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsStartedResponse" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_Poke_InputMessage">
    <wsdl:part name="parameters" element="tns:Poke" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_Poke_OutputMessage">
    <wsdl:part name="parameters" element="tns:PokeResponse" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_LastPoke_InputMessage">
    <wsdl:part name="parameters" element="tns:LastPoke" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_LastPoke_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastPokeResponse" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_ForceGarbageCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:ForceGarbageCollection" />
  </wsdl:message>
  <wsdl:message name="IRManagementService_ForceGarbageCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForceGarbageCollectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IRManagementService">
    <wsdl:operation name="GetRUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRManagementService/GetRUser" message="tns:IRManagementService_GetRUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRManagementService/GetRUserResponse" message="tns:IRManagementService_GetRUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IRManagementService/Start" message="tns:IRManagementService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRManagementService/StartResponse" message="tns:IRManagementService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Terminate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRManagementService/Terminate" message="tns:IRManagementService_Terminate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRManagementService/TerminateResponse" message="tns:IRManagementService_Terminate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsStarted">
      <wsdl:input wsaw:Action="http://tempuri.org/IRManagementService/IsStarted" message="tns:IRManagementService_IsStarted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRManagementService/IsStartedResponse" message="tns:IRManagementService_IsStarted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IRManagementService/IsAlive" message="tns:IRManagementService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRManagementService/IsAliveResponse" message="tns:IRManagementService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Poke">
      <wsdl:input wsaw:Action="http://tempuri.org/IRManagementService/Poke" message="tns:IRManagementService_Poke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRManagementService/PokeResponse" message="tns:IRManagementService_Poke_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastPoke">
      <wsdl:input wsaw:Action="http://tempuri.org/IRManagementService/LastPoke" message="tns:IRManagementService_LastPoke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRManagementService/LastPokeResponse" message="tns:IRManagementService_LastPoke_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForceGarbageCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/IRManagementService/ForceGarbageCollection" message="tns:IRManagementService_ForceGarbageCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRManagementService/ForceGarbageCollectionResponse" message="tns:IRManagementService_ForceGarbageCollection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRManagementService" type="tns:IRManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRUser">
      <soap:operation soapAction="http://tempuri.org/IRManagementService/GetRUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/IRManagementService/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Terminate">
      <soap:operation soapAction="http://tempuri.org/IRManagementService/Terminate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsStarted">
      <soap:operation soapAction="http://tempuri.org/IRManagementService/IsStarted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IRManagementService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Poke">
      <soap:operation soapAction="http://tempuri.org/IRManagementService/Poke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastPoke">
      <soap:operation soapAction="http://tempuri.org/IRManagementService/LastPoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForceGarbageCollection">
      <soap:operation soapAction="http://tempuri.org/IRManagementService/ForceGarbageCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RManagementService">
    <wsdl:port name="BasicHttpBinding_IRManagementService" binding="tns:BasicHttpBinding_IRManagementService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RManagementService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>