RDotNet.Client/Service References/ProcessMonitor/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProcessMonitor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IProcessMonitor_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RDotNet.ProcessHost" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProcessMonitor_get_Id_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Id" />
  </wsdl:message>
  <wsdl:message name="IProcessMonitor_get_Id_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_IdResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessMonitor_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IProcessMonitor_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessMonitor_get_State_InputMessage">
    <wsdl:part name="parameters" element="tns:get_State" />
  </wsdl:message>
  <wsdl:message name="IProcessMonitor_get_State_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_StateResponse" />
  </wsdl:message>
  <wsdl:message name="IProcessMonitor_Kill_InputMessage">
    <wsdl:part name="parameters" element="tns:Kill" />
  </wsdl:message>
  <wsdl:message name="IProcessMonitor_Kill_OutputMessage">
    <wsdl:part name="parameters" element="tns:KillResponse" />
  </wsdl:message>
  <wsdl:portType name="IProcessMonitor">
    <wsdl:operation name="get_Id">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessMonitor/get_Id" message="tns:IProcessMonitor_get_Id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessMonitor/get_IdResponse" message="tns:IProcessMonitor_get_Id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessMonitor/IsAlive" message="tns:IProcessMonitor_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessMonitor/IsAliveResponse" message="tns:IProcessMonitor_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_State">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessMonitor/get_State" message="tns:IProcessMonitor_get_State_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessMonitor/get_StateResponse" message="tns:IProcessMonitor_get_State_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Kill">
      <wsdl:input wsaw:Action="http://tempuri.org/IProcessMonitor/Kill" message="tns:IProcessMonitor_Kill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProcessMonitor/KillResponse" message="tns:IProcessMonitor_Kill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IProcessMonitor" type="tns:IProcessMonitor">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IProcessMonitor_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="get_Id">
      <soap12:operation soapAction="http://tempuri.org/IProcessMonitor/get_Id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://tempuri.org/IProcessMonitor/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_State">
      <soap12:operation soapAction="http://tempuri.org/IProcessMonitor/get_State" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kill">
      <soap12:operation soapAction="http://tempuri.org/IProcessMonitor/Kill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessMonitor">
    <wsdl:port name="NetNamedPipeBinding_IProcessMonitor" binding="tns:NetNamedPipeBinding_IProcessMonitor">
      <soap12:address location="net.pipe://localhost/ProcessMonitor/16" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ProcessMonitor/16</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>RITCH-DESKTOP\Ritch</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>