RDotNet.Client/Service References/RLanguageService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RDotNet.Server" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RDotNet.R.Adapter" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Numerics" />
  <xs:element name="PreserveObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q1:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreserveObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q2:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Protect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q3:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="ProtectResult" nillable="true" type="q4:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unprotect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnprotectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnprotectPtr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q5:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnprotectPtrResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Install">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="InstallResult" nillable="true" type="q6:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="MakeStringResult" nillable="true" type="q7:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeChar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeCharResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="MakeCharResult" nillable="true" type="q8:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsCharacterFactor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q9:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsCharacterFactorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="AsCharacterFactorResult" nillable="true" type="q10:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RDotNet.R.Adapter" minOccurs="0" name="type" type="q11:SymbolicExpressionType" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateVectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="AllocateVectorResult" nillable="true" type="q12:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CoerceVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q13:SymbolicExpressionContext" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RDotNet.R.Adapter" minOccurs="0" name="type" type="q14:SymbolicExpressionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CoerceVectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="CoerceVectorResult" nillable="true" type="q15:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q16:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsVectorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q17:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFrameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsS4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q18:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsS4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsS4Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q19:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLengthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RDotNet.R.Adapter" minOccurs="0" name="type" type="q20:SymbolicExpressionType" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
        <xs:element minOccurs="0" name="columnCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="AllocateMatrixResult" nillable="true" type="q21:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q22:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsMatrixResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q23:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfRowsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q24:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberOfColumnsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="AllocateListResult" nillable="true" type="q25:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q26:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Evaluate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="statement" nillable="true" type="q27:SymbolicExpressionContext" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="environment" nillable="true" type="q28:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="EvaluateResult" nillable="true" type="q29:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryEvaluate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="statement" nillable="true" type="q30:SymbolicExpressionContext" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="environment" nillable="true" type="q31:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryEvaluateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="TryEvaluateResult" nillable="true" type="q32:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="errorOccurred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="statement" nillable="true" type="q33:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="statementCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseVectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="ParseVectorResult" nillable="true" type="q34:SymbolicExpressionContext" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/RDotNet.R.Adapter" minOccurs="0" name="status" type="q35:ParseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="name" nillable="true" type="q36:SymbolicExpressionContext" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="environment" nillable="true" type="q37:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="FindVarResult" nillable="true" type="q38:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="name" nillable="true" type="q39:SymbolicExpressionContext" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="value" nillable="true" type="q40:SymbolicExpressionContext" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="environment" nillable="true" type="q41:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineVar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="name" nillable="true" type="q42:SymbolicExpressionContext" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="value" nillable="true" type="q43:SymbolicExpressionContext" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="environment" nillable="true" type="q44:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineVarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttrib">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q45:SymbolicExpressionContext" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="name" nillable="true" type="q46:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttribResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetAttribResult" nillable="true" type="q47:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAttrib">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q48:SymbolicExpressionContext" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="name" nillable="true" type="q49:SymbolicExpressionContext" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="value" nillable="true" type="q50:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAttribResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="SetAttribResult" nillable="true" type="q51:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q52:SymbolicExpressionContext" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="name" nillable="true" type="q53:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSlotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="DoSlotResult" nillable="true" type="q54:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSlotAssign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="sexp" nillable="true" type="q55:SymbolicExpressionContext" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="name" nillable="true" type="q56:SymbolicExpressionContext" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="value" nillable="true" type="q57:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSlotAssignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="DoSlotAssignResult" nillable="true" type="q58:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="what" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetClassDefinitionResult" nillable="true" type="q59:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasSlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q60:SymbolicExpressionContext" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="name" nillable="true" type="q61:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasSlotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasSlotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEnvironment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q62:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEnvironmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEnvironmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q63:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExpressionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExpressionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSymbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q64:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSymbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSymbolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q65:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLanguageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q66:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFunctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFactor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q67:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFactorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFactorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOrdered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q68:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOrderedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOrderedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LsInternal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q69:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="all" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LsInternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="LsInternalResult" nillable="true" type="q70:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyClosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="call" nillable="true" type="q71:SymbolicExpressionContext" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="value" nillable="true" type="q72:SymbolicExpressionContext" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="arguments" nillable="true" type="q73:SymbolicExpressionContext" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="environment" nillable="true" type="q74:SymbolicExpressionContext" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="suppliedEnvironment" nillable="true" type="q75:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyClosureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="ApplyClosureResult" nillable="true" type="q76:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VectorToPairList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q77:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VectorToPairListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="VectorToPairListResult" nillable="true" type="q78:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateSEXP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/RDotNet.R.Adapter" minOccurs="0" name="type" type="q79:SymbolicExpressionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateSEXPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="AllocateSEXPResult" nillable="true" type="q80:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEnvironment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="names" nillable="true" type="q81:SymbolicExpressionContext" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="values" nillable="true" type="q82:SymbolicExpressionContext" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="parent" nillable="true" type="q83:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewEnvironmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="NewEnvironmentResult" nillable="true" type="q84:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q85:SymbolicExpressionContext" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="next" nillable="true" type="q86:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="ConsResult" nillable="true" type="q87:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LCons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q88:SymbolicExpressionContext" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="next" nillable="true" type="q89:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LConsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="LConsResult" nillable="true" type="q90:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="attribute" nillable="true" type="q91:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNaString">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="rstring" nillable="true" type="q92:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNaStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNaStringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParseError">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParseErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetParseErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalEnvironment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalEnvironmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetGlobalEnvironmentResult" nillable="true" type="q93:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetNamesResult" nillable="true" type="q94:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterVectorValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q95:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterVectorValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCharacterVectorValuesResult" nillable="true" type="q96:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionVectorValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q97:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionVectorValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetExpressionVectorValuesResult" nillable="true" type="q98:ArrayOfSymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegerVectorValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q99:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegerVectorValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetIntegerVectorValuesResult" nillable="true" type="q100:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericVectorValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q101:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericVectorValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNumericVectorValuesResult" nillable="true" type="q102:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogicalVectorValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q103:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogicalVectorValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLogicalVectorValuesResult" nillable="true" type="q104:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawVectorValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q105:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawVectorValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRawVectorValuesResult" nillable="true" type="q106:ArrayOfunsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexVectorValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q107:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexVectorValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="GetComplexVectorValuesResult" nillable="true" type="q108:ArrayOfComplex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q109:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCharacterVectorValueAtResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCharacterVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q110:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCharacterVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q111:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpressionVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetExpressionVectorValueAtResult" nillable="true" type="q112:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExpressionVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q113:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="value" nillable="true" type="q114:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExpressionVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegerVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q115:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegerVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIntegerVectorValueAtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIntegerVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q116:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIntegerVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q117:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumericVectorValueAtResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNumericVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q118:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNumericVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogicalVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q119:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogicalVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogicalVectorValueAtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLogicalVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q120:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLogicalVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q121:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRawVectorValueAtResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRawVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q122:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRawVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q123:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="GetComplexVectorValueAtResult" type="q124:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComplexVectorValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q125:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="value" type="q126:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComplexVectorValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeCharacterVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q127:SymbolicExpressionContext" />
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vector" nillable="true" type="q128:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeCharacterVectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeIntegerVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q129:SymbolicExpressionContext" />
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vector" nillable="true" type="q130:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeIntegerVectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeNumericVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q131:SymbolicExpressionContext" />
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vector" nillable="true" type="q132:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeNumericVectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeLogicalVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q133:SymbolicExpressionContext" />
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vector" nillable="true" type="q134:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeLogicalVectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRawVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q135:SymbolicExpressionContext" />
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vector" nillable="true" type="q136:ArrayOfunsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRawVectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeComplexVector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q137:SymbolicExpressionContext" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="vector" nillable="true" type="q138:ArrayOfComplex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeComplexVectorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbols">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q139:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetSymbolsResult" nillable="true" type="q140:ArrayOfSymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnboundValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnboundValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetUnboundValueResult" nillable="true" type="q141:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNilValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNilValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetNilValueResult" nillable="true" type="q142:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q143:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributeNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAttributeNamesResult" nillable="true" type="q144:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q145:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrintNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrintName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q146:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPrintNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDimNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDimNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetDimNamesResult" nillable="true" type="q147:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPromise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q148:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPromiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPromiseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosureBody">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q149:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosureBodyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetClosureBodyResult" nillable="true" type="q150:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosureFormals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q151:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosureFormalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetClosureFormalsResult" nillable="true" type="q152:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosureEnvironment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q153:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosureEnvironmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetClosureEnvironmentResult" nillable="true" type="q154:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q155:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetLanguageListResult" nillable="true" type="q156:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q157:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetClassResult" nillable="true" type="q158:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInternal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q159:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetInternalResult" nillable="true" type="q160:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q161:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetValueResult" nillable="true" type="q162:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q163:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetLevelsResult" nillable="true" type="q164:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericMatrixValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q165:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericMatrixValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNumericMatrixValuesResult" nillable="true" type="q166:ArrayOfArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegerMatrixValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q167:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegerMatrixValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetIntegerMatrixValuesResult" nillable="true" type="q168:ArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterMatrixValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q169:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterMatrixValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCharacterMatrixValuesResult" nillable="true" type="q170:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogicalMatrixValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q171:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogicalMatrixValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLogicalMatrixValuesResult" nillable="true" type="q172:ArrayOfArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMatrixValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q173:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMatrixValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRawMatrixValuesResult" nillable="true" type="q174:ArrayOfArrayOfunsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexMatrixValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q175:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexMatrixValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="GetComplexMatrixValuesResult" nillable="true" type="q176:ArrayOfArrayOfComplex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q177:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCharacterMatrixValueAtResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCharacterMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q178:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCharacterMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegerMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q179:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntegerMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIntegerMatrixValueAtResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIntegerMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q180:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIntegerMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q181:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumericMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumericMatrixValueAtResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNumericMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q182:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNumericMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogicalMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q183:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogicalMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogicalMatrixValueAtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLogicalMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q184:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLogicalMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q185:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRawMatrixValueAtResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRawMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q186:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRawMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q187:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="GetComplexMatrixValueAtResult" type="q188:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComplexMatrixValueAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q189:SymbolicExpressionContext" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="value" type="q190:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComplexMatrixValueAtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeCharacterMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q191:SymbolicExpressionContext" />
        <xs:element xmlns:q192="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrix" nillable="true" type="q192:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeCharacterMatrixResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeIntegerMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q193:SymbolicExpressionContext" />
        <xs:element xmlns:q194="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrix" nillable="true" type="q194:ArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeIntegerMatrixResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeNumericMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q195:SymbolicExpressionContext" />
        <xs:element xmlns:q196="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrix" nillable="true" type="q196:ArrayOfArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeNumericMatrixResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeLogicalMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q197:SymbolicExpressionContext" />
        <xs:element xmlns:q198="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrix" nillable="true" type="q198:ArrayOfArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeLogicalMatrixResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRawMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q199:SymbolicExpressionContext" />
        <xs:element xmlns:q200="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="matrix" nillable="true" type="q200:ArrayOfArrayOfunsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRawMatrixResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeComplexMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q201:SymbolicExpressionContext" />
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="matrix" nillable="true" type="q202:ArrayOfArrayOfComplex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeComplexMatrixResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentEnvironment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="context" nillable="true" type="q203:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentEnvironmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/RDotNet.Server" minOccurs="0" name="GetParentEnvironmentResult" nillable="true" type="q204:SymbolicExpressionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>