RDotNet.Client/Service References/RLanguageService/System.Numerics.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Numerics" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Numerics" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfComplex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Complex" type="tns:Complex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplex" nillable="true" type="tns:ArrayOfComplex" />
  <xs:complexType name="Complex">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_imaginary" type="xs:double" />
      <xs:element name="m_real" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complex" nillable="true" type="tns:Complex" />
  <xs:complexType name="ArrayOfArrayOfComplex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfComplex" nillable="true" type="tns:ArrayOfComplex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfComplex" nillable="true" type="tns:ArrayOfArrayOfComplex" />
</xs:schema>