RDotNet.Client/Service References/RManagementService/RDotNet.Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RDotNet.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RDotNet.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StartupParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="DebugInitFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="Home" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoadInitFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoadSiteFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoRenviron" type="xs:boolean" />
      <xs:element minOccurs="0" name="Quiet" type="xs:boolean" />
      <xs:element minOccurs="0" name="RHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Slave" type="xs:boolean" />
      <xs:element minOccurs="0" name="Verbose" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartupParameter" nillable="true" type="tns:StartupParameter" />
</xs:schema>